body {
    /*background-color: lavender;*/
    background-color: #CCF6FA;
    font-family: 'Comfortaa', cursive;
    font-size: 170%;
    padding-top: 50px;
    text-align: justify;
}

.navbar-nav {
    display: table;
    width: 100%;
    margin: 0;
}

.navbar-nav>li {
    float: none;
    display: table-cell;
    text-align: center;
}

.centered {
    text-align: center;
    padding-bottom: 15px;
}

.media {
    margin-bottom: 15px;
    /*padding-right: 10px;*/
}

img {
    width: 100%;
}

.media-body {
    margin-left: 5px;
}
